{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>My Q&A</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
<h1>Q & A site!</h1>
<div class="content">
{% for question in questions %}
    <div class="question">
        <a href="/question/{{ question.qid }}/{{ question.slug }}"><h1>{{ question.question_title }}</h1></a>
        <p>{{ question.question_text|truncatechars:300|slice:"-4" }}...</p>
    </div>
{% endfor %}
</div>
</body>
</html>
